/*-----Fonts-----*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

/*-----General-----*/

html {
    height: 100%;
}

body {
    background: url('/media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}


.nav-padding{
    min-height: 300px;
    margin: 0;
    padding: 0;
}

@media (min-width: 990px) {
  .nav-padding {
    min-height: 120px;
  }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-color: black;
	z-index: -1;
}

.overlay-white {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-color: rgb(255, 255, 255);
	z-index: -1;
}

.search-card{
    background: linear-gradient(0deg, rgb(204, 200, 192) 0%, rgba(36, 18, 13, 0.733) 100%);
}

.page-title{
    font-family: 'Raleway', sans-serif;
    color: rgb(190, 190, 190);
    text-shadow: 0px 2px 0px rgb(109, 105, 105) ;
    text-transform: uppercase;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*------Buttons-----*/

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*-----Navbar-----*/

.nav-bg{
    background-color: #3f3f3f;
}

.main-logo, .nav-link, .acc-link, .blerb{
    color: white;
}

.main-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
}

.nav-link, .acc-link{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: large;
}

/*-----Footer-----*/


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    z-index: 99999999;
}

.list-inline-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: auto;
    margin-bottom: auto;
}

/*----------social links----------*/

.youtube a{
    color: rgb(241, 29, 29);
    text-shadow: 0.4px .4px .9px  #f2f2f2;
    background-color: white;
    border-radius: 6px;
    padding: 0 2px;
}

.facebook a{
    color: rgb(59, 92, 192);
    text-shadow: 1px 1px #f2f2f2;
}

.twitter a{
    color: rgb(117, 197, 229);
    text-shadow: 1px 1px #f2f2f2;
}

.social-link:hover{
    background-color: #2f2f2f;
    color: #f2f2f2;
    text-shadow: 3px 3px grey;
    -webkit-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}


/*----- Bootstrap Toasts ------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/*-----index.html-----*/

.blerb{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.hero-container{
    min-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#hero-image{
    min-height: 100vh;
    object-fit: contain;
}

/*-----products.html-----*/

.category-link{
    color: rgb(247, 246, 246);
    text-transform: uppercase;
    font-size: large;
    text-shadow: 0px 2px 0px rgb(0, 0, 0) ;
}

.category-link:hover{
    color:black;
    text-shadow: none;
}

.product-card{
    text-align: center;
}

.product-image{
    padding: 0, auto;
    max-height: 480px;
    width: auto;
}

/*-----product_detail.html-----*/

.product-details-card{
    padding: 10%;
}

.review-container-card{
    background-color: rgba(255, 255, 255, 0.815);
    margin: 5%;
    padding: 5%;
}

.showcase-container{
    background-color: white;
}

.logo-font {
    text-transform: uppercase;
    color: blanchedalmond;
}

.main-logo-link {
    width: fit-content;
}

.category-container{
    margin-top: 80px;
    background-size: cover;
    width: 100%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
