/*-----Fonts-----*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

/*-----General-----*/

html {
    height: 100%;
}

body {
    background: url('/media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.nav-padding{
    min-height: 300px;
    margin: 0;
    padding: 0;
}

@media (min-width: 990px) {
  .nav-padding {
    min-height: 120px;
  }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: linear-gradient(0deg, rgba(146, 139, 127, 0.829) 0%, rgba(73, 60, 57, 0.856) 100%);
	z-index: -1;
}

.search-card{
    background: linear-gradient(0deg, rgb(204, 200, 192) 0%, rgba(71, 67, 66, 0.733) 100%);
}

.page-title{
    font-family: 'Raleway', sans-serif;
    color: rgb(190, 190, 190);
    text-shadow: 0px 2px 0px rgb(109, 105, 105) ;
    text-transform: uppercase;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*------Buttons-----*/

.btn-light {
    background: white;
    color: black;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*-----Navbar-----*/

.nav-bg{
    background-color: rgba(0, 0, 0, 0.918);
}

.main-logo, .nav-link, .acc-link, .blerb{
    background: -webkit-linear-gradient(#eee, rgb(53, 36, 10));
    background-size: 100%;
}

.main-logo{
    font-family: 'Dancing Script', cursive;
    font-size: 56px;
}

.nav-link, .acc-link{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: large;
}

/*-----index.html-----*/

.blerb{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.hero-container{
    min-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#hero-image{
    min-height: 100vh;
    object-fit: contain;
}

/*-----products.html-----*/

.category-link{
    color: rgb(247, 246, 246);
    text-transform: uppercase;
    font-size: large;
    text-shadow: 0px 2px 0px rgb(0, 0, 0) ;
}

.category-link:hover{
    color:black;
    text-shadow: none;
}

.product-card{
    text-align: center;
}

.product-image{
    padding: 0, auto;
    max-height: 480px;
    width: auto;
}

/*-----product_detail.html-----*/

.product-details-card{
    padding: 10%;
}

.review-container-card{
    background-color: rgba(255, 255, 255, 0.815);
    margin: 5%;
    padding: 5%;
}

.showcase-container{
    background-color: white;
}

.logo-font {
    text-transform: uppercase;
    color: blanchedalmond;
}

.main-logo-link {
    width: fit-content;
}

.category-container{
    margin-top: 80px;
    background-size: cover;
    width: 100%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

