{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Upcoming Showcases</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="showcase-container">
                    {% for showcase in showcases %}
                        
                                    <p class="mb-0">{{ showcase.name }}</p>
                        
                
                                    <p class="mb-0">{{ showcase.start_date }}</p>
                   
                 
                                    <p class="mb-0">{{ showcase.start_time }}</p>
                 
                                    <p class="mb-0">{{ showcase.location }}</p>
                    
                       
                                    <p class="mb-0">{{ showcase.entry_fee }}</p>
                            
                    
                    {% endfor %}
        </div>
    </div>
{% endblock %}