{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid nav-padding"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Upcoming Showcases</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>

        <table class="table table-light">
        <thead>
            <tr>
            <th scope="col">Showcases</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
            <th scope="col">Entree Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for showcase in showcases %}
            <tr>
                <th scope="row"></th>
                <td>{{ showcase.name }}</td>
                <td>{{ showcase.start_date }}</td>
                <td>{{ showcase.start_time }}</td>
                <td>{{ showcase.location }}</td>
                <td>{{ showcase.entry_fee }}</td>
            </tr>
             {% endfor %}
            
        </tbody>
        </table>

       
        </div>
    </div>
{% endblock %}