<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="electric-guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electric Guitars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="electric-guitars-link">
                <a href="{% url 'products' %}?category=electric-guitars" class="dropdown-item">Electric Guitars</a>
                <a href="{% url 'products' %}?category=electric-guitar-strings" class="dropdown-item">Electric Guitar Strings</a>
                <a href="{% url 'products' %}?category=electric-guitar-accessories" class="dropdown-item">Electric Guitar Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="acoustic-guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acoustic Guitars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="acoustic-guitars-link">
                <a href="{% url 'products' %}?category=acoustic-guitars" class="dropdown-item">Acoustic Guitars</a>
                <a href="{% url 'products' %}?category=acoustic-guitar-strings" class="dropdown-item">Acoustic Guitar Strings</a>
                <a href="{% url 'products' %}?category=acoustic-guitar-accessories" class="dropdown-item">Acoustic Guitar Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="bass-guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bass Guitars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bass-guitars-link">
                <a href="{% url 'products' %}?category=bass-guitars" class="dropdown-item">Bass Guitars</a>
                <a href="{% url 'products' %}?category=bass-guitar-strings" class="dropdown-item">Bass Guitar Strings</a>
                <a href="{% url 'products' %}?category=bass-guitar-accessories" class="dropdown-item">Bass Guitar Accessories</a>
            </div>
        </li>
    </ul>
</div>