{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid nav-padding"></div>
    
    <div class="card  mx-auto w-75" >
        <div class="card-body">
            <h3 class="card-title mx-auto text-center">Search our store</h5>
            <form action="{% url 'products' %}" method="GET" class="col s12 mx-auto text-center">
            <div class="row center-align mx-auto">
                <div class="input-field col s12  mx-auto">
                    <i class="fas fa-search prefix grey-text darken-4 left"></i>
                    <input type="text" name="query"  id="query" minlength="2" maxlength="32" class="validate" required>
                    
                </div>
            </div>
        </div>
    

        <div class="container">
            <div class="row">
            
                <div class="col s12 m6 l3 text-center">
                    <a class="logo-font font-weight-bold category-link" href="#" id="electric-guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Electric Guitars
                    </a>
                    <div class="dropdown-menu" aria-labelledby="electric-guitars-link">
                        <a href="{% url 'products' %}?category=electric-guitars" class="dropdown-item">Electric Guitars</a>
                        <a href="{% url 'products' %}?category=electric-guitar-strings" class="dropdown-item">Electric Guitar Strings</a>
                        <a href="{% url 'products' %}?category=electric-guitar-accessories" class="dropdown-item">Electric Guitar Accessories</a>
                    </div>
                </div>

                <div class="col s12 m6 l3 text-center">
                    <a class="logo-font font-weight-bold category-link" href="#" id="acoustic-guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acoustic Guitars
                </a>
                <div class="dropdown-menu" aria-labelledby="acoustic-guitars-link">
                    <a href="{% url 'products' %}?category=acoustic-guitars" class="dropdown-item">Acoustic Guitars</a>
                    <a href="{% url 'products' %}?category=acoustic-guitar-strings" class="dropdown-item">Acoustic Guitar Strings</a>
                    <a href="{% url 'products' %}?category=acoustic-guitar-accessories" class="dropdown-item">Acoustic Guitar Accessories</a>
                </div>
                </div>

                <div class="col s12 m6 l3 text-center">
                    <a class="logo-font font-weight-bold category-link" href="#" id="bass-guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bass Guitars
                </a>
                <div class="dropdown-menu " aria-labelledby="bass-guitars-link">
                    <a href="{% url 'products' %}?category=bass-guitars" class="dropdown-item">Bass Guitars</a>
                    <a href="{% url 'products' %}?category=bass-guitar-strings" class="dropdown-item">Bass Guitar Strings</a>
                    <a href="{% url 'products' %}?category=bass-guitar-accessories" class="dropdown-item">Bass Guitar Accessories</a>
                </div>
                </div>

                <div class="col s12 m6 l3 text-center">
                    <a class="logo-font font-weight-bold category-link" href="#" id="acoustic-guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="acoustic-guitars-link">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                    <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                </div>
                </div>

            
       
            </div>
        </div>
    </div>

    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}